/*
.row {
	float: left;
	width: 20em;
}
*/
.templates {
	display: none;
}

/*
.pixel_id, .advertiser_id {
	float: left;
	width: 0.5em;
}
*/
/*
.pixel_name, .adveriser_name, .advertiser_address, .adveriser_city {
	float: left;
	width: 1em;
}
*/

.column {
	float: left;
	width: 20%;
}

.selected {
	font-weight: bolder;
}

.name {
	font-weight: bolder;	
}

.colour-advertiser {
	background-color: lightblue;
}

.colour-pixel {
	background-color: lightyellow;
}
.colour-fire {
	background-color: lightskyblue;
}

p, #advertiser_add, #pixel_add {
	margin: 0em;
	padding: 0.5em;
}

#advertiser_add, #pixel_add {
	float: right;
}

form {
	text-align: right;
}